{"fvnsVlanInstP":{"attributes":{"dn":"uni/infra/vlanns-[S{{STUDENT_NBR}}_Training_Pool]-dynamic","name":"S{{STUDENT_NBR}}_Training_Pool","rn":"vlanns-[S{{STUDENT_NBR}}_Training_Pool]-dynamic","status":"created"},"children":[{"fvnsEncapBlk":{"attributes":{"dn":"uni/infra/vlanns-[S{{STUDENT_NBR}}_Training_Pool]-dynamic/from-[vlan-{{STUDENT_NBR}}00]-to-[vlan-{{STUDENT_NBR}}99]","from":"vlan-{{STUDENT_NBR}}00","to":"vlan-{{STUDENT_NBR}}99","rn":"from-[vlan-{{STUDENT_NBR}}00]-to-[vlan-{{STUDENT_NBR}}99]","status":"created"},"children":[]}}]}}
